.square-style {
  border: 2px solid teal;
  border-radius: 12px;
  padding: 12px 12px 12px;
  width: 200px;
  height: 200px;
}

.app-style {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.add-form {
  padding: 30px;
}

.add-form,
.input-style {
  text-align: center;
}

.title-style {
  text-align: center;
}
